	<div class="rounded_panel txt_lightgrey">
				<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="mayurgehani"><a class="LI-simple-link" href='https://in.linkedin.com/in/mayurgehani?trk=profile-badge'>Mayur Gehani</a></div>
				<!--<a target='_blank' href="{{site.stackoverflow.profileurl}}">
					<img src="{{site.stackoverflow.flairimageurl}}" width="208" height="58" 
						alt="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
						title="profile at Stack Overflow, Q&amp;A for professional and enthusiast programmers"> -->
	</div>
